body {
    margin: 0;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-fondo-hexagonal-negro-oscuro_1017-38012.jpg?semt=ais_hybrid);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 100vh;
}

nav {
    padding: 12px 0;
    background-color: #333;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    list-style-type: none;
    gap: 20px;
}

.especial {
    font-weight: bold;
    color: orange;
    font-size: 1.5em;
    position: relative;
    bottom: 3px;
    margin-right: 10px;
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.div1, .div2 {
    width: 35%;
}

span {
    color: orange;
}

h1 {
    font-size: 2.3em;
}

.div1 {
    margin-right: 20px;
}

.div2 {
    background-color: orange;
    padding: 20px 20px;
    padding-right: 70px;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
}

button {
    background-color: orange;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.div2-list {
    margin-bottom: 10px;
    position: relative;
    left: 15px;
}