body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,minmax(100px, 300px)) 1fr;
    grid-template-rows: repeat(2,200px) 1fr;
}

.grid__item {
    background-color: #48e;
    margin: 10px;
    margin: 10px;
    font-size: 30px;
    color: #fff;
}